<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <!-- 放到蓝鲸开发框架后，请引用csrftoken.js解决jquery下POST请求403问题，如果使用的是mako模板，可以直接去掉下面的注释 -->
    <!--script src="${STATIC_URL}js/csrftoken.js?v=${STATIC_VERSION}" type="text/javascript"></script-->
    <!-- 这个是全局配置，如果需要在js中使用app_id和site_url,则这个javascript片段一定要保留 -->
    <script type="text/javascript">
        var app_id = "${APP_ID}";
        var site_url = "${SITE_URL}";	  // app的url前缀,在ajax调用的时候，应该加上该前缀
        var static_url = "${STATIC_URL}"; // 静态资源前缀
    </script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white" >
<div id="home" v-cloak>
    <div class="king-page-box" >
        <div class="king-layout1-header">
            <nav role="navigation" class="navbar navbar-default king-horizontal-nav2    f14 ">
                <div class="container " style="width:100%;overflow:hidden;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle-sm" data-toggle="collapse" data-target="#king-horizontal-nav2-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo3.png" alt="" class="logo"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="king-horizontal-nav2-collapse">
                        <ul class="nav navbar-nav">
                             <li class="king-navbar-active"><a>新增待办模板</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <span>${request.user.username}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout2-main mt15" style="width:1200px;">

<form>
<div class="form-horizontal" id="form4_demo1" id="add">
        <div class="form-group">
        <label class="control-label col-sm-2" >业务名称</label>
        <div class="col-sm-7">
            <select class="form-control" id="validation_select" name="bk_biz_name" v-model="template.bk_biz_name">
                        <option v-for="biz in biz_list" :value="biz.bk_biz_name"  >{{ biz.bk_biz_name }}</option>
            </select>

        </div>
    </div>

        <div class="form-group">
        <label class="control-label col-sm-2">模板类型</label>
        <div class="col-sm-7">
                <select name="type" id="" class="form-control bk-valign-top" v-model="template.type">
                    <option value="变更发布">变更发布</option>
                    <option value="扩容类">扩容类</option>
                    <option value="上线类">上线类</option>
                    <option value="下架类">下架类</option>
                    <option value="例行维护">例行维护</option>
                </select>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2">模板名称</label>
        <div class="col-sm-7">
            <input name="name" class="form-control" placeholder="请控制在50个字符内" type="text"  v-model="template.name">
        </div>
    </div>

      <div class="form-group">
        <label class="control-label col-sm-2" >上传模板文件</label>
        <div class="col-sm-7">
            <input name="file"   class="form-control"  type="file" v-model="template.file">
        </div>

                    <a href=""   @click="download_sample">模板参考文件下载</a>
    </div>




    <div class="form-group">

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" ></label>
        <div class="col-sm-7">
            <a href="javascript:history.go(-1)"><button class="king-btn king-info" type="button">返回</button></a>
             <button class="king-btn mr10  king-success" type="button" @click="add_template">确认提交</button>
        </div>

    </div>
</div>
</form>
            <!-- 设置面板End -->
        </div>
    </div>
    </div>
</body>
    <script>

    /*                  vue-script                   */
    var vm = new Vue({
        el: "#home",

        data: {

            template:{
                bk_biz_name: "",
                type:"",
                name: "",
                file:"",
                file_name:"",
            },

            // 预加载
            template_list:[],
            biz_list : [],
        },


        methods: {
            getBizList() {
                var vm = this;
                $.ajax({
                    type: "POST",
                    url: site_url + "api/get_all_biz",
                    dataType: "json",
                    success: function (data) {
                        if (data.result) {
                            vm.biz_list = data.data;
                        } else {
                            alert(data.message)
                        }
                    }
                })
            },

            add_template() {
                 var vm = this;
                 var formData = new FormData(document.querySelector("form"));//获取form值
                 if (vm.template.bk_biz_name === "" ||
                     vm.template.type==="" ||
                     vm.template.name===""||
                      vm.template.file===""
                    ) alert("信息不完整");
                 else{
                    $.ajax({
                        type: "POST",
                        url: site_url + "api/add_template",
                        dataType: "json",
                        data: formData,
                        processData: false,  // 不处理数据
                        contentType: false,   // 不设置内容类型
                        success: function (data) {
                            if (data.result){
                                alert("载入成功")
                            }
                            else{
                                alert(data.message)
                                }
                            }
                    })
                 }

            },

            download_sample() {
                window.open(site_url + "api/download_sample_template")
            }
        },
        mounted:function () {
            this.getBizList();
        }
        })
    </script>


</html>
